<h1><%= 'Welcome to TravelBug ðŸž' %></h1>
<h4><%= "We're going on a trip, in our favorite rocket ship!" %></h4>
<%= button_to 'Create Itinerary',users_path, method: :get %> 
<p><%= image_tag("https://cdn.dribbble.com/users/788099/screenshots/4579867/travels_holiday_kit8-net.png") %></p>