<div class="homepage">  
    <h1><%= 'Welcome to TravelBug ðŸž' %></h1>
    <h4><%= "We're going on a trip, in our favorite rocket ship!" %></h4>

    <% Destination.all.each do |d|%>
    <%= Getdatum.get_photo(d)%>
    <%end%>
# This button is going to be changed to Sign Up and Log in, after auth get implemented. 

    <%= button_to 'Create Itinerary',users_path, method: :get, class:"button1" %> 

</div>

