<div class="section">
         <h1><%= 'Explore the World' %></h1><br>
    
        

        <div class="video-container">
            <div class="color-overlay"></div>
            <video autoplay loop muted>
                <source src="assets/merged.mp4" type="video/mp4">
            </video>
        </div>

    </div>


  
  

</div>
</div>
<!-- /.container   -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

