<% @destinations.each do |destination| %>
    <ul>
        <h5><li style="background-image:<%=destination.image %>;background-size: 260x180;"> <%= link_to destination.location, destination_path(destination, trip_id:@trip.id,user_id:@user.id) %></h5>

        <%= link_to destination_path(destination, trip_id:@trip.id,user_id:@user.id) do %>
            <%= image_tag(destination.image, :size => "260x180") %>
        <% end %></li>
    </ul>
<%end%>
