<h2> Destinations <h2>
<% @destinations.each do |destination| %>
    <ul>
        <h5><li><%=destination.location %>
        <a href="<%= destination_url(destination) %>"><%= image_tag(destination.image, :size => "260x180") %> </a></li></h5>
    </ul>
<%end%>


         
         
       

         