  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0UZckU_eK8heofiWpXTUYU-IpJo0KhnI&callback=initMap"
  type="text/javascript"></script>

<div style ="text-align:center">
<br><br>
<h3><%= @title %></h3>
<br><br>



<%= link_to image_tag(@img_url, :size => 500)%>
<br><br>
<br><br>
<h5><%= @text %></h5>
<br><br>
<h5>Address : <%= @address %></h5>
</div>
<br><br>
<br><br>

